body {
    font-family: Georgia, 'Times New Roman', Times, serif
}

button,  #submit-button {
    color: white;
    background: royalblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px
}

#button-container {
    padding: 10px;
}

#add-breed-area {
    text-align: center;
}

.still-image {
    margin: 10px
}